@media screen and (max-width: 600px) {
    /* body {
      background-color: olive !important;
    } */

    h1{
        font-size:50px !important;
    }

    p{
        font-size:23px !important;
    }

    #footer p{
        font-size:15px !important;
    }

    li h3{
        font-size:30px;
    }

    .photo{
        height:10%;
    }

    #topbar{
        padding:1em 2em 0;
    }
  }

  