@media screen and (max-width: 600px) {
    /* body {
      background-color: olive !important;
    } */

    h1{
        font-size:50px !important;
    }

    p{
        font-size:23px !important;
    }

    footer p{
        font-size:15px !important;
    }

    li h3{
        font-size:30px;
    }

    .photo{
        height:10%;
    }
  }

  /*ENLARGE ON HOVER EFFECTS*/

  
  .zoom:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        transition:0.5s;
        transition-duration: 0.5s;
        
  }

  /*ENTRANCE ANIMATIONS*/

  .animate.pop {
    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-fill-mode: both;
  }
  
  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

.delay-1 { animation-delay: 0.3s; }  
.delay-2 { animation-delay: 0.4s; }
.delay-3 { animation-delay: 0.5s; }
.delay-4 { animation-delay: 0.6s; }
.delay-5 { animation-delay: 0.8s; }